.logins{
    
  /*  width:200vh;
    height:100vh;*/
   /*background: repeating-linear-gradient(rgb(183, 122, 9),rgb(113, 83, 25),rgb(86, 60, 10),rgb(195, 140, 37),rgb(199, 138, 25));*/
    
}
.login{
    
    

}
.round{

    background-repeat: no-repeat;
    background-size: cover;;
    height:90vh;
}